<div class="col-lg-12 mx-auto">
    <div class="card card-chart mx-auto">
        <div class="card-header">
            <h5 class="card-category"></h5>
            <h4 class="card-title">Datos de la empresa</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="configuracionForm">
                <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" formControlName="nombre"   class="form-control"  placeholder="Company" value="Creative Code Inc.">
                    </div>
                  </div>
                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label>Telefono</label>
                      <input type="text" formControlName="telefono" class="form-control" placeholder="Username" value="michael23">
                    </div>
                  </div>
                  <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo Electronico</label>
                      <input type="email" formControlName="correo"  class="form-control" placeholder="Email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Direccion</label>
                      <input type="text" formControlName="direccion" formControlName="direccion" class="form-control" placeholder="Company" value="Mike">
                    </div>
                  </div>
                  
                </div>
               <button
                type="button"
                class="btn btn-success"
                (click)="guardar()"
               >
                Guardar
               </button>
               
              </form>
        </div>
        <div class="card-footer">
            <!-- Contenido del pie de la tarjeta -->
        </div>
    </div>
</div>
