<div class="row">
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-icon nc-single-02 mr-2"></i>Usuarios</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-icon nc-paper-2 mr-2"></i>Libros</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-badge nc-icon mr-2"></i>Autor</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-icon nc-planet mr-2"></i>Editorial</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>
  
</div>


<div class="row">
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-backpack nc-icon mr-2"></i>Estudiantes</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-icon nc-preferences-circle-rotate mr-2"></i>Prestamos</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-app nc-icon mr-2"></i>Materias</h4>
            </div> 
            <div class="card-body text-center">
                <h1>13</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-center">
                <h4 class="card-title mt-2"> <i class="nc-icon nc-settings-gear-64 mr-2"></i>Configuracion</h4>
            </div> 
            <div class="card-body text-center">
                <h1></h1>
            </div>
        </div>
    </div>
  
</div>