<div class="col-md-12">
    <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center;">
                <h4 class="card-title" style="margin-right: 10px;">Materias</h4>
                <button (click)="openModalMateria(null)" type="button" class="btn btn-success">
                    <i class="nc-icon nc-simple-add"></i>
                </button>
            </div>
            <div class="form-group">
                <button (click)="exportToExcel()" type="button" class="btn btn-success">
                    <i class="nc-icon nc-layers-3"></i>
                </button>
                <button type="button" class="btn btn-danger ml-2">
                    <i class="nc-icon nc-grid-45"></i>
                </button>
                <button type="button" class="btn btn-primary ml-2">
                    <i class="nc-icon nc-send"></i>
                </button>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" 
                (keyup)="searchMaterias()" name="searchMateria" [(ngModel)]="searchMateria" placeholder="Buscar por código o nombre">
            </div>
        </div>
        
        
        
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-light bg-dark">
              <th>
                #
              </th>
              <th>
                Nombre
              </th>
              <th>
                Estado
              </th>              
              <th>
                
              </th>
             
            </thead>
            <tbody>
              <tr *ngFor="let materia of materias">
                <td>
                  {{materia.id}}
                </td>
                <td>
                  {{materia.materia}}
                </td>
                <td>
                    <span class="badge badge-pill" [ngClass]="{'badge-success': materia.estado, 'badge-danger': !materia.estado}">
                        {{ materia.estado ? "Activo" : "Inactivo" }}
                      </span>
                </td>
               
                <td>
                           
                    <button (click)="openModalMateria(materia)" type="button" class="btn btn-info ml-1">
                        <i class="nc-icon nc-settings-90"></i>
                    </button>  
                    <button (click)="EliminarMateria(materia.id)" type="button" class="btn btn-danger ml-1">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>           
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>